p{
    color:blueviolet;
}
h1{
    color: crimson;
    font-size: medium;   
}
ol{
    color:indigo;
    font-size: 12px;
    text-align: center;
    font-style: italic;
}
body{
    background-color: green;
}